.title-service h2{
    font-size: 36px;
    font-weight: 800;
    line-height: 46.87px;
   
    color: white;
}
.first-container-service h2 span{
    color: #98D28B;

}
.first-container-service{
    display: none;
}
@media (max-width:768px){
    .first-container-service{
        display: block;
        margin-top: 52px;
        margin-bottom: 180px;
    }
    .first-container-service h2{
        margin: 0;
    }
}