@media (max-width:768px){
  .div-service, .horizontal-section {
    display: none !important;
  }
}
.div-service {
    padding-left: 50px;
    display: block;
  }

  .title-services {
    font-size: 110px;
    font-weight: 900;
    line-height: 143px;
    letter-spacing: 0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
    margin-bottom: 32px;
  }

  .card-container-main {
    background-color: #38413c;
    border-radius: 25px;
    color: white;
    font-size: 24px;
    font-weight: 700;
    line-height: 31.2px;
    padding: 16px;
    height: fit-content;
    width: 400px;
    max-width: 400px;
    margin-right: 40px;
  }

  .card-container-image {
    display: flex !important;
    justify-content: space-between !important;
    margin-bottom: 215px !important;
  }

  .card-container-image img {
    width: 24px;
    height: 24px;
  }

  .card-text {
    font-size: 20px;
    font-weight: 600;
  }

  .swiper-container {
    padding-bottom: 16px;
  }

  .swiper-slide {
    padding: 16px;
  }
.horizontal-section {
  position: relative;
  padding-left: 50px;
}

.horizontal-scroll-content {
  will-change: transform;
  transition: transform 0.1s linear;
  padding-top: 30vh
}

.title-services {
  position: relative;
  transition: all 0.3s ease;
  z-index: 10;
}

.fixed-title {
  position: fixed;
  top: 100px;
  left: 50px; /* Adjust this if you want */
  z-index: 100;
}

.title-wrapper {
  height: 100px !important;
}
