.overlay-content-desktop {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 458px;
  padding: 15px 24px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  color: white;
}
.work-slider-container img{
  filter: brightness(0.8);
}
.project-title{
  font-weight: 800;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: 0%;
}
.project-tag {
  display: inline-block;
  padding: 8px 12px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 36px;
  font-size: 12px;
  font-weight: 500;
  color: white;
  margin-bottom: 8px;
}

.project-category{
  background-color: (255, 255, 255, 0.1);
}
  .row-work{
    padding-bottom: 220px;
    padding-top: 220px;
    max-width: 1540px;
    margin: 0 auto;
    overflow: hidden;

  }
  .row-work-2{
    max-width: unset;
    padding-left: 50px;
  }
  .work-title{
    font-size: 50px;
    font-weight: 800;
    line-height: 65px;
    color: white;
    margin-right: 24px;
  }
  .wort-text{
    color: #A6B5A4;
    width: 260px;
  }
  .work-button{
    color: #38413C;
    background-color: #98D28B;
    border-radius: 63px;
    border: 0px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20.8px;
  }/*
  .number-image{
    width: 61px;
    height: 46px;
  }*/
  .container-work{
    display: flex;
    align-items: center;
  }
  #prevBtn {
    width: 42px;
    height: 42px;
    border: 1px solid white;
    color: black;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4a5556;
    border: none;
    transform: rotate(180deg);
    margin-bottom: 32px;
  }
  #nextBtn {
    width: 42px;
    height: 42px;
    border: 1px solid white;
    color: black;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4a5556;
    border: none;
    margin-left: 24px;
    margin-bottom: 32px;
  }
  .work-slider-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .work-slider-container img{
     width: 458px;
    height: 458px;
    border-radius: 25px !important;
  }
  .disabled-btn img {
    opacity: 0.2;
    pointer-events: none;
}
