.timeline-description1{
    color: white;
    width: 78%;
    font-size: 18px;
    font-weight: 500;
    line-height: 23.4px;
}
.content-display{
    margin-left: 117px; 
    display: flex;
}
.timeline-picture{
    height:347px;
}
.date-title-text{
    width: 80%;
}
.timeline-vertical1::before {
    content: '';
    position: absolute;
    left: 10px; 
    width: 8px; 
    height: 88%; 
     
    background-color: #38413C; 
    top: 5px; 
  }
  
    .timeline-point1 {
        width: 126px !important; 
        height: 126px; 
        background-color: #38413C; 
        font-size: 60px;
        font-weight: 900;
        color: #98D28B;
        line-height: 78px;
        border-radius: 25px; 
        position: absolute; 
        left: -50px; 
        top: 12%; 
        transform: translateY(-50%); 
        display: flex;
        justify-content: center; 
        align-items: center; 
      }
@media (max-width: 768px){
    .full-timeline-container{
        display: none;
    }
}