.Lets-talk{
    text-align: center;
    padding-top: 142px;
    overflow-x: hidden;
    background-image: url("/public/homepage-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}
.home-page {
    background-color: #1a1a1a;
}
.swiper-container-lets{
  width: 100% !important;
  overflow: hidden;
  margin-top: 30px;
}
.swiper-container-lets img{
  border-radius: 25px;
}
.Lets-talk p{
    font-size: 70px;
    font-style: italic;
    font-weight: 500;
    line-height: 91px;
    color: white;
}
.Lets-talk h2{
    font-size: 90px;
    font-weight: 900;
    line-height: 117.18px;
    color: white;
    margin-bottom: 50px;
}
.Lets-talk button{
    border-radius: 41px;
    background-color: #98D28B;
    border: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 12px;
    padding-right: 12px;
    position: relative;
    overflow: hidden;
}

button.custom-button:after {
    content: "Test text";
    position: absolute;
    width: 100%;
    transition: all 0.5s ease-in-out;
    top: -40px;
    transform: rotate(15deg);
    left: -20px;
}

button.custom-button:hover:after {
    top: 13px;
    transform: rotate(0deg);
}

button.custom-button span {
    transition: all 0.5s ease-in-out;
    position: relative;
    top: 0;
    opacity: 1;
}

button.custom-button:hover span {
    opacity: 0;
}

.button-elipse{
    margin-left: 12px;
}
.button-arrow {
  display: none;
}
.custom-button:hover .button-elipse {
  display: none;
}
.custom-button:hover .button-arrow {
  display: inline-block;
}
.swiper-container-lets {
    transform: rotate(4deg);
    transform-origin: center;
}
@media (max-width:768px){
  .Lets-talk{
    display: none;
  }

}
