@media (max-width: 768px){
    .navbar-telefon{
        display: block !important;
    }
    .navbar{
        width: 285px !important;
        padding: 11px;
        padding-left: 26px;
    }
    .custom-button-telefon{
        font-size: 16px;
    }
    .navbar-telefon .navbar p{
        font-weight: 500;
        font-size: 14px;
        line-height: 130%;
        color: white;
        margin-bottom: 0px;
        margin-left: 16px;
    }
    .navbar-content{
        display: flex;
        cursor: pointer;
    }
}
.navbar-telefon{
    display: none;
}