.ourwork-cards{
    margin-top: 110px;
}
.card-work{
    padding: 24px 16px;
    border-radius: 20px;
}
.card-title-work {
    font-weight: 700;
    font-size: 27px;
    line-height: 35.1px;
    letter-spacing: 0%;
    margin-bottom: 32px;
}
.card-work .list-group{
    border-bottom: 0px;
    border-top: 0px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
}
.list-desktop-style-item {
    padding-bottom: 17px;
    padding-top: 17px;
}
.list-group-item{
    padding-left: 0px;
    padding-right: 0px;
    border-bottom: 0.5px solid #A6B5A4 !important;
}
.list-group-item:last-child {
    border-bottom: none !important;
}
.button-item-card{
    border: 1px solid white;
    border-radius: 42px;
    background-color: inherit;
    margin-top: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18.2px;
    letter-spacing: 0%;
}
.checkboxName{
    background-color: #A6B5A4 !important;
    width: 16px;
    height: 16px;
}
.button-item-card:hover{
    background-color:#696969;
    border: 1px solid white;
}

.modal-content {
    position: fixed;
    max-width: inherit;
    top: 30px;
    overflow: scroll;
    max-height: 90vh;
}

.modal-header {
    position: fixed;
    max-width: inherit;
    width: 100%;
    background-color: #272D2A;
    z-index: 2;
    padding-bottom: 20px !important;
}

.project-card-wrapper {
    cursor: pointer;
}

.modal-body {
    padding-top: 100px;
}

.modal-header .btn-close {
    transition: all 0.3s ease-in-out;
}

.modal-header .btn-close:hover {
    transform: rotate(90deg);
    background-color: #98D28B;
}

@media (max-width:768px){
    div.accordion.accordion-2{
        width: 100%;
        margin-top: 0px;
    }
    .accordion-item-2 .accordion-button::after {
        background-image: url('public/Vector 4 (1).png') !important;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 11px 11px;
        width: 11px;
        height: 11px;
      }
    div.accordion-item.accordion-item-2{
        background-color: #38413C;
        border-radius: 15px;
    }
    div.accordion-item.accordion-item-2  .accordion-button{
        background-color: #38413C !important;
        color: white !important;
        padding: 14px 16px;
        border-radius: 15px !important;
        border: none;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        box-shadow: none !important; /* skida belo oko */
      }
      div.accordion-item.accordion-item-2 .accordion-body {
        background-color: #38413C !important;
        border-radius: 15px;
        padding-top: 24px;
        padding-left: 16px;
        padding-right: 16px;
      }
      .list-our-style {
        padding: 16px 0;
      }
      .button-item-card{
        margin-top: 8px;
        padding: 13px 0;
      }
}
