.what-our-title{
    font-size: 60px;
    font-weight: 900;
    line-height: 78px;
    color: white;
}
.first-column-what{
    display: flex;
    justify-content: center;
    align-items: center;
}
.row-what{
    padding: 62px 0;
    margin-bottom:220px;
}
.whatour-swiper .swiper-pagination-bullet{
        width: 10px !important;
        height: 10px !important;
        background-color: #EAEAEA !important;
}
.whatour-swiper .swiper-pagination-bullet-active{
        width: 10px !important;
        height: 10px  !important;
        background-color: #98D28B !important;
}
  .testimonial-card {
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    height: auto;
    width: 360px;
    margin: 0 auto;
    margin-bottom: 32px;
  }
  
  .testimonial-card p {
    
    font-size: 18px;
    font-weight: 400;
    line-height: 29.34px;
    text-align: left;
    color: #272D2A;
    
  }
  
  .testimonial-card h4 {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
  }
  
  .swiper-pagination-bullet {
    background: #fff !important;
  }
  
  .swiper-button-next, .swiper-button-prev {
    color: #fff !important;
  }
  