.whatOurClients-container{
  background-image: url('public/Background Frame.png');
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-size: 100% 100%;
  width: 100%;
  height: 100vh;
  margin-bottom: 220px;
}
.row-what{
  display: flex;
  align-items: center;
  min-height: 100vh;
}
.what-our-title{
    font-size: 60px;
    font-weight: 900;
    line-height: 78px;
    color: white;
}
.first-column-what{
    display: flex;
    justify-content: center;
    align-items: center;
}

.whatour-swiper .swiper-pagination-bullet{
        width: 10px !important;
        height: 10px !important;
        background-color: #EAEAEA !important;
}
.whatour-swiper .swiper-pagination-bullet-active{
        width: 10px !important;
        height: 10px  !important;
        background-color: #98D28B !important;
}
  .testimonial-card {
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    height: auto;
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px; /* ili neka određena visina ako želiš */
    box-sizing: border-box;

    margin: 0 auto;
    margin-bottom: 32px;
  }
  
  .testimonial-card p {
    
    font-size: 18px;
    font-weight: 400;
    line-height: 29.34px;
    text-align: left;
    color: #272D2A;
    opacity: 70%;

  }
  .premier-style{
    font-weight: bold !important;
  }
  .first-h4-testimonials{
    border-top: 1px solid #1D1D1D;
    padding-top: 12px;
  }
  .testimonial-card h4 {
    font-size: 14px;
    color: #272D2A;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    margin-top: 10px;
  }
  
  .swiper-pagination-bullet {
    background: #fff !important;
  }
  
  .swiper-button-next, .swiper-button-prev {
    color: #fff !important;
  }
  .swiper-slide-shadow,
.swiper-slide-shadow-cards {
  display: none !important;
}
  
  @media (max-width:768px){
    .whatOurClients-container{
      display: none;
    }
  }