html {
    background: #1a1a1a;
}

html {
    overflow-x: hidden;
}

.navbar{
    background-color: #47705C99;
    padding: 16px;
    border-radius: 41px;
    width:626px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 0px;
    position: fixed;
    bottom: 50px;
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%); /*vrati ga 50posto*/

}

.modal {
    backdrop-filter: blur(5px);
}

.navbar ul{
    display:flex;
    text-decoration: none;
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.navbar ul li{
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 17px;
    padding-bottom: 17px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    line-height: 18.2px;
    cursor: pointer;

}
.link-page{
    text-decoration: none;
    color: white;
}

.top-nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    max-width: 1320px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

div#root {
    background-color: #1a1a1a;
}

.nav-time {
    display: flex;
    justify-content: end;
}

.nav-time h4 {
    font-family: Inter;
    font-weight: 500;
    font-size: 42px;
    leading-trim: Cap height;
    line-height: 100%;
    letter-spacing: 0%;
    color: white;
}

.nav-time p {
    font-family: Inter;
    font-weight: 500 !important;
    font-size: 13px !important;
    leading-trim: Cap height;
    line-height: 100% !important;
    letter-spacing: 0%;
    color: white;
    text-align: left;
    padding-top: 7px;
    padding-left: 5px;
    font-style: normal !important;
}

div.circle {
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background: #272D2A;
    display: inline-block;
    margin: 0 10px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.button-arrow-new {
    position: absolute;
    right: -100px;
    top: 21px;
    width: 10px;
    transition: all 0.3s ease-in-out;
    filter: invert(1);
}

.Lets-talk button:hover .button-arrow-new {
    right: 27px;
}

.Lets-talk button:hover .circle {
    width: 20px;
    height: 20px;
}
