.ourClients{
    text-align: center;

  }
  .title-ourClients{
      color: white;
      margin-bottom: 48px;
      font-size: 60px;
      font-weight: 900;
      line-height: 78px;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
  }
  .ouClients img{
    margin-bottom: 220px;
  }
  .sponsor-strip-wrapper {
    position: relative;
    overflow: hidden;

  }

  .sponsor-track {
    animation: scroll-left 10s linear infinite;
    display: flex;
  }

  @keyframes scroll-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .sponsor-img {
    flex-shrink: 0;

  }
  @media (max-width: 768px){
    .ourClients{
      display: none;
    }
  }

.ourClients .row {
    overflow: hidden;
}

.ourClients .row .col {
    transition: all 0.7s ease-in-out;
    position: relative;
    top: 150px;
}

.ourClients .row.animate .col {
    top: 0;
}
