
.relatedwork-sectainer{
    display: none;
}
@media (max-width:768px){
    .relatedwork-sectainer{
        display: block !important;
        margin-top: 72px;
        margin-bottom: 180px;
    }
    .image-overlay {
        position: relative;
        overflow: hidden;
       border-radius: 25px;
    }
    .overlay-content {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        color: white;
        padding: 15px;
        text-align: left;
        transition: opacity 0.3s ease-in-out;
    }
    .image-overlay img {
        width: 100%;
        height: 330px;
        filter: brightness(0.8);
    }
    .image-overlay:hover .overlay-content {
        opacity: 1;
    }
    .padding-work{
        padding-right: 0px;
        padding-left: 0px;
    }
    
    .overlay-content h3 {
        
        font-size: 28px;
        font-weight: 700;
        line-height: 36.46px;
        
    }
    
    .overlay-content span {
        font-size: 12px;
        font-weight: 700;
        line-height: 15.62px;
        opacity: 0.9;
        color: white;
        background-color: rgba(255, 255, 255, 0.1);
        padding: 8px 12px;
        border-radius: 20px; 
    }
    /**/
    .container-work-button{
        display: flex;
        justify-content: space-between;
    }
    .container-right-button{
        display: flex;
    }
    .container-related{
        display: flex;
    }
    .text-work-content{
        padding-bottom: 40px;
        padding-top: 19px;
        margin: 0px;
        font-size: 16px;
        font-weight: 400;
        line-height: 20.83px;
        color: #A6B5A4;
        width: 74%;
    }
    .container-related h2{
        padding-right: 12px;
        margin: 0;
        font-size: 28px;
        font-weight: 700;
        line-height: 36.46px;
        color: white;
    }
    .disabled-btn img {
        opacity: 0.5;
        pointer-events: none; 
    }
}
